/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 260px;
  background: #11101d;
  padding: 15px;
  z-index: 99;
}
.logo {
  font-size: 25px;
  padding: 0 15px;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
}
.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
  display: none;
}
.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}
.submenu-active .menu-items {
  transform: translateX(-56%);
}
.menu-title {
  color: #fff;
  font-size: 14px;
  padding: 15px 20px;
}
.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}
.item i {
  font-size: 12px;
}
.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: rgba(255, 255, 255, 0.1);
}

.navbar,
.main {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
}
.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}
.navbar {
  position: fixed;
  color: #fff;
  padding: 15px 20px;
  font-size: 25px;
  background: #4070f4;
  cursor: pointer;
}
.navbar #sidebar-close {
  cursor: pointer;
}

.main {
  position: relative;
  top: 60px;
  align-items: center;
  padding: 15px 20px;
  justify-content: center;
  z-index: 100;
  background: #e7f2fd;
}

.main h1 {
  color: #11101d;
  text-align: center;
}

.main img {
  position: relative;
  padding: 15px 20px;
  width: 200px;
  height: auto;
  display: inline;
}

.campus{
  display: inline;
	width: 80%;
	margin: auto;
	padding-top: 50px;
}

.campus-col{
  display: inline-flex;
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}
.campus-col img{
  display: inline-flex;
	width: 300px;
  height: 300px;
}
.layer{
  display: inline-flex;
	background: transparent;
	height: 300px;
	width: 300px;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.layer:hover{
	background: rgba(266, 0, 0, 0.7);
}
.layer h3{
	width: 300px;
	font-weight: 500;
	color: #fff;
	font-size: 26px;
	bottom: 0;
	left: 100%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}
.layer:hover h3{
	bottom: 50%;
	opacity: 1;
}

.main footer {
  text-align: center;
  align-items: center;
  color: #000;
  padding: 10px 20px;
}
